.listItem {
  --t-duration: 150ms;
  --t-opacity: opacity var(--t-duration) ease;
  --t-transform: transform var(--t-duration) ease;
  --t-base: var(--t-opacity), var(--t-transform);

  position: relative;
  transition: var(--t-transform);
}

.loader {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.listItem.isLoading {
  transform: scale(96%, 85%);
}
.isLoading .loader {
  opacity: 1;
}
.isLoading .row {
  opacity: 0;
}

.row,
.loader {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  transition: var(--t-opacity);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.rank {
  width: 5ch;
}
.best {
  margin-left: auto;
  width: 6ch;
  text-align: right;
}
.wcaId {
  display: none;
}

.loaderBlob {
  height: 1em;
  margin-block: 0.1em; /* Line height is 1.2em */
  padding: 0.5em;
  background-color: #ccc;
  border-radius: 0.5em;
  transform: scale(110%, 110%);
  transition: var(--t-transform);
}
.isLoading .loaderBlob {
  transform: unset;
}
.loaderBlob.name {
  width: 80%;
  max-width: 500px;
  margin-right: 1em;
}

@media only screen and (min-width: 500px) {
  .wcaId {
    display: block;
  }
  .rank {
    margin-right: 1em;
  }
}
