.chooser {
  display: flex;
  align-items: center;
  gap: 1em;
}

.chooser select {
  font-family: "Fira Sans", sans-serif;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 150ms ease, border 150ms ease;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  max-width: 300px;
}

.chooser select:hover {
  background-color: #f0f0f0;
}

.chooser select:focus-visible {
  border: 1px solid rgba(121, 92, 169, 0.7);
  box-shadow: 0 0 5px rgba(121, 92, 169, 0.3);
  outline: none;
}
