.JumpToTop {
  --animation-duration: 500ms;
  position: fixed;
  z-index: 1;
  top: 1em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-1em);
  transition: transform var(--animation-duration) ease,
    opacity var(--animation-duration) ease,
    visibility var(--animation-duration) ease var(--animation-duration);
}

.JumpToTop.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: transform var(--animation-duration) ease,
    opacity var(--animation-duration) ease;
}

.JumpToTop-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5em;
  position: relative;
}

.JumpToTop-button:hover {
  fill: rgb(136, 15, 211);
  color: rgb(136, 15, 211);
  cursor: pointer;
}

.JumpToTop-button::before {
  content: "";
  position: absolute;
  inset-inline: -1.5em;
  top: -1em;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  border-radius: 3em;
  filter: blur(1.5em);
  z-index: -1;
}
