.app {
  padding: 1em;
  background-color: #fffcff;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-size: 2em;
}
