.app {
  padding: 1em;
  background-color: #fffcff;
  --font-family: "Fira Sans", sans-serif;
}

.app,
button,
select {
  font-family: var(--font-family);
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 1em;
  column-gap: 1em;
  display: none;
}

.header > * {
  margin: 0.5em 0;
}

.header h1 {
  font-weight: 200;
  font-size: 2em;
}
